<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358724981456-2gfg8gih4hdovvug85hg4sm5dhv44pm1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358724981456-2gfg8gih4hdovvug85hg4sm5dhv44pm1</string>
	<key>API_KEY</key>
	<string>AIzaSyDlsBQSfB8aXEzUzFD6my9EQGiwgQ2keyo</string>
	<key>GCM_SENDER_ID</key>
	<string>358724981456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shreyaskarnik.Dozzi</string>
	<key>PROJECT_ID</key>
	<string>dozzi-bedtime-stories-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>dozzi-bedtime-stories-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358724981456:ios:77ce44c5b36e2f65a344d5</string>
</dict>
</plist>